body {
    background-color: powderblue;
}

table.forums {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: 35%;
    table-layout: fixed;
    width: 30%;
    margin-right: 35%;
}

td.forums, th.forums {
    border: 1px solid #dddddd;
    text-align: left;
    width: 10%
    padding: 8px;
}

@media screen and (max-width: 600px){
    table.forums {
        width:100%;
        margin-left: 0%;
    }
    td.forums, th.forums {
        width: 100/3%;
    }
}

tr.forums:hover td{
    background-color: green;
}
tr.forums:nth-child(even) {
    background-color: #dddddd;
}
tr.forums:nth-child(odd) {
    background-color: #F1F1F1;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
