<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/baseStyle.css">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
  </style>
  <title>${self.title()}</title>
</head>

<body>
<!-- Navbar -->
<div class="w3-top">
<ul class="w3-navbar w3-black w3-card-2 w3-left-align">
  <li class="w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="${h.url(controller='index', action='home')}" class="w3-hover-none w3-hover-text-grey w3-padding-large">HOME</a></li>
  <li class="w3-hide-small w3-hide-medium"><a href="${h.url(controller='forums', action='index')}" class="w3-padding-large">FORUMS</a></li>
  <li class="w3-hide-small w3-hide-medium"><a href="${h.url(controller='index', action='events')}" class="w3-padding-large">EVENTS</a></li>
  <li class="w3-hide-small w3-hide-medium"><a href="${h.url(controller='index', action='merch')}" class="w3-padding-large">MERCH</a></li>
  <li class="w3-hide-small w3-hide-medium"><a href="${h.url(controller='index', action='contact')}" class="w3-padding-large">CONTACT US</a></li>
% if h.getLoggedIn():
  <li class="w3-hide-small w3-hide-medium w3-dropdown-hover w3-right">
    <a href="javascript:void(0)" class="w3-hover-none w3-padding-large w3-right" title="User Settings">${h.getUser()} <i class="fa fa-caret-down"></i></a>     
    <div class="w3-dropdown-content w3-gray w3-card-4">
      <a href="${h.url(controller='userinfo', action='user_settings')}">Profile Settings</a>
      <a href="${h.url(controller='userinfo', action='notifs')}">Notifications</a>
      <a href="${h.url(controller='userinfo', action='logout')}">Log Out</a>
    </div>
  </li>
% else:
  <li class="w3-hide-small w3-hide-medium w3-right"><a href="${h.url(controller='userinfo', action='login')}" class="w3-padding-large">LOG IN</a></li>
  <li class="w3-hide-small w3-hide-medium w3-right"><a href="${h.url(controller='userinfo', action='register')}" class="w3-padding-large">REGISTER</a></li>
% endif
</ul>
</div>

<!-- Navbar on small screens -->
<div id="tinyNav" class="w3-hide w3-hide-large w3-top" style="margin-top:46px">
  <ul class="w3-navbar w3-left-align w3-black">
    <li><a class="w3-padding-large" href="${h.url(controller='forums', action='index')}">FORUMS</a></li>
    <li><a class="w3-padding-large" href="${h.url(controller='index', action='events')}">EVENTS</a></li>
    <li><a class="w3-padding-large" href="${h.url(controller='index', action='merch')}">MERCH</a></li>
    <li><a class="w3-padding-large" href="${h.url(controller='index', action='contact')}">CONTACT US</a></li>
% if h.getLoggedIn():
    <li><a class="w3-padding-large" href="{h.url(controller='userinfo', action='user_settings')}">USER SETTINGS</a></li>
    <li><a class="w3-padding-large" href="${h.url(controller='userinfo', action='notifs')}">NOTIFICATIONS</a></li>
    <li><a class="w3-padding-large w3-red w3-hover-pale-red" href="${h.url(controller='userinfo', action='logout')}">LOG OUT</a></li>
% else:
    <li><a class="w3-padding-large w3-green w3-hover-pale-green" href="${h.url(controller='userinfo', action='login')}">REGISTER</a></li>
    <li><a class="w3-padding-large w3-green w3-hover-pale-green" href="${h.url(controller='userinfo', action='register')}">LOG IN</a></li>
% endif
  </ul>
</div>

${self.body()}

</body>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("tinyNav");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

</script>
</html>
