<%inherit file="/base.html"/>\

<%def name="title()">Home</%def>

<div class="w3-content" style="max-width:2000px;margin-top:46px">
<h1 style="text-align: center">Welcome to Ragna's Site - Home Page</h1>
<p style="text-align: center"> Absolutely nothing is implemented, but it exists :p</p>

<p style="text-align: center"> This is the location for the home page</p>

<iframe src="https://discordapp.com/widget?id=189563877086855168&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>



<iframe style="width: 620px; height: 378px;" scrolling="no" frameborder="0" src="https://www.twitch.tv/abandon_gaming/embed"></iframe>

<iframe style="width: 350px; height: 379px;" scrolling="no" frameborder="0" src="https://www.twitch.tv/abandon_gaming/chat?popout="></iframe>

<center>
	    <a href="https://www.twitch.tv/abandon_gaming?tt_medium=live_embed&tt_content=text_link" style="padding: 2px 0px 4px; width: 345px; font-size: 10px; font-weight: normal; text-decoration: underline; display: block;">Watch live video from Abandon Gaming on www.twitch.tv</a>

</center>

</div>
