<%inherit file="/base.html"/>\

<%def name="title()">Home</%def>

<div class="w3-content" style="max-width:2000px;margin-top:46px">
<h1 style="text-align: center">Welcome to Ragna's Site - Home Page</h1>
<p style="text-align: center"> Absolutely nothing is implemented, but it exists :p</p>

<p style="text-align: center"> This is the location for the home page</p>

<iframe src="https://discordapp.com/widget?id=189563877086855168&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

</div>
