<%inherit file="/base.html"/>\

<%def name="title()">Forums</%def>

<div class="w3-content" style="max-width:2000px;margin-top:46px">

<h1 style="text-align: center">Forums</h1>

% for category in c.categories:
<h2 style="text-align: center; white-space: nowrap;">
${category.title}
<a href="javascript:void(0)" onclick="hideshow('${category.id}')" id="${category.id}+" style="text-decoration: none;">+</a>
<a href="javascript:void(0)" onclick="hideshow('${category.id}')" id="${category.id}-" style="display: none; text-decoration: none;">-</a>
</h2>

<table class="forums" id="${category.id}" style="display: none">
	<tr class="forums">
		<th class="forums" style="width:10%"> Forum Name </th>
		<th class="forums" style="width:10%"> Last Modified </th>
		<th class="forums" style="width:10%"> Num Posts </th>
	</tr>
% for forum in category.forums:
	<tr class="forums" onclick="__goto__('${h.url(controller='forums', action='viewforum', id=forum.id)}')">
		<td class="forums">${forum.title}</td>
		<td class="forums">${h.lastModified(forum.id)}</td>
		<td class="forums">${h.numThreads(forum.id)}</td>
	</tr></a>
% endfor
</table>
%endfor

</div>


<%def name="scripts()"> 
<!-- <script> -->
// Used to toggle the menu on small screens when clicking on the menu button
function hideshow(id) {
    var x = document.getElementById(id);
    var plus = document.getElementById(id + "+");
    var minus = document.getElementById(id + "-");

    if (x.style.display == 'none') {
    	x.style.display = 'block'
    	plus.style.display = 'none'
    	minus.style.display = 'inline-block'

    }
    else {
    	x.style.display = 'none'
    	plus.style.display = 'inline-block'
    	minus.style.display = 'none'
    }
}
</%def>